.page {
  font-size: $font-size-base;
  margin: 0;
  padding: 0;
}

@import './page__border';
@import './page__border_inverted';
@import './page__section';
@import './page__subsection';
@import './page__subsection_concise';
