.button {
  @include font;
  align-items: center;
  background: $color-cta;
  color: $color-invert;
  display: inline-flex;
  font-size: $font-size-base;
  height: $size-tappable - $spacing;
  justify-content: center;
  padding-left: $spacing-large;
  padding-right: $spacing-large;
  text-decoration: none;
}

@mixin button-toggler {
  @include border('', $color-text);
  font-size: $font-size-large;
  height: $size-tappable - $spacing;
  width: $size-tappable - $spacing;
}

@import './button_important';
@import './button_toggler_off';
@import './button_toggler_on';
