.button {
  @include font;
  align-items: center;
  background: $color-cta;
  color: $color-invert;
  display: inline-flex;
  flex-direction: column;
  font-size: $font-size-base;
  height: $size-tappable - $spacing;
  justify-content: center;
  text-decoration: none;
  border: none;
}

@mixin button-toggler {
  @include border('', $color-text);
  font-size: $font-size-large;
  height: $size-tappable - $spacing;
  width: $size-tappable - $spacing;
}

$height-day: 2rem;
$height-month: 2rem;

@import './button__date';
@import './button__date_month';
@import './button_calendar';
@import './button_cta';
@import './button_important';
@import './button_toggler_off';
@import './button_toggler_on';
@import './button_up';
