.button_toggler_off {
  @include border('', $color-text);
  background: $color-invert;
  color: $color-text;
  font-size: $font-size-large;
  height: $size-tappable - $spacing;
  width: $size-tappable - $spacing;
}
