$spacing: 1.25rem;
$spacing-tiny: .25rem;

$color-white: #fff;
$color-green: #60bf93;
$color-red: #e14f42;

$color-invert: $color-white;
$color-cta: $color-green;
$color-important: $color-red;

@mixin font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin no-spacing-around {
  margin: 0;
  padding: 0;
}
