$color-black: #626161;
$color-dark-green: #468c6b;
$color-gray: #c2c2c2;
$color-green: #60bf93;
$color-light-gray: #f7f7f7;
$color-dark-gray: #8c8989;
$color-red: #e14f42;
$color-white: #fff;

$color-border: $color-gray;
$color-cta: $color-green;
$color-highlight: $color-dark-green;
$color-important: $color-red;
$color-invert: $color-white;
$color-shadow: $color-light-gray;
$color-text: $color-black;
$color-text-secondary: $color-dark-gray;

$font-size-base: 16px;
$font-size-large: 1.5em;

$size-tappable: 3rem;

$spacing: .75rem;
$spacing-large: 1rem;
$spacing-small: .5rem;
$spacing-tiny: .25rem;
$spacing-xlarge: 1.5rem;

$thickness: 1px;

$mq-tablet: 700px;
