@mixin border($position: '', $color: $color-border) {
  @if $position == 'bottom' {
    border-bottom: $thickness solid $color;
  } @else if $position == 'top' {
    border-top: $thickness solid $color;
  } @else {
    border: $thickness solid $color;
  }
}

@mixin box-model {
  box-sizing: border-box;
}

@mixin font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin typography {
  @include font;
  color: $color-text;
}
