@mixin border($position) {
  @if $position == 'bottom' {
    border-bottom: $thickness solid $color-gray;
  } @else if $position == 'top' {
    border-top: $thickness solid $color-gray;
  } @else {
    border: $thickness solid $color-gray;
  }
}

@mixin box-model {
  box-sizing: border-box;
}

@mixin font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
